<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kris.lm"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_lm"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ActivityDB"
            android:label="@string/db_test"
            android:parentActivityName=".Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.ActivityUserData"
            android:label="@string/title_activity_user_data"
            android:parentActivityName=".Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.ActivityLoadData"
            android:label="@string/db_test"
            android:parentActivityName=".Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.ActivityBody"
            android:label="@string/title_activity_activity_body"
            android:parentActivityName=".Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Recycler_Cwiczenia.Cwiczenia"
            android:label="@string/title_activity_cwiczenia"
            android:parentActivityName=".Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kris.lm.Activities.MainActivity" />
        </activity>
    </application>

</manifest>
